.MMM-Buienalarm .rainWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.MMM-Buienalarm #iconWrapper {
  position: absolute;
  float: left;
  overflow: hidden;
}

.MMM-Buienalarm .highcharts-plot-band-label img {
  filter: invert(100%);
}
